name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby-version: [3.0, 2.7, 2.6]
        gemfile: ['gemfiles/rails_6.0.gemfile', 'gemfiles/rails_6.1.gemfile', 'gemfiles/rails_7.0.gemfile']
        exclude:
        - gemfile: gemfiles/rails_7.0.gemfile
          ruby-version: 2.6

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
        env:
          BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      - name: Install dependencies
        run: bundle install
        env:
          BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      - name: Run tests
        run: bundle exec rake
        env:
          PGHOST: localhost
          PGUSER: postgres
          PGPASSWORD: postgres
          BUNDLE_GEMFILE: ${{ matrix.gemfile }}
